.bar {
    display: flex;
    flex-direction: row;
    background: rgb(5, 204, 144);
    align-items: stretch;
    /* justify-content: space-around; */
    width: 100%;
    }
    
body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif; 
}
    
.btn {
    
    cursor: pointer;
    background-color: #9c88ff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    color: rgb(0, 0, 0);
    /* border: 0; */
    
    flex:1;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px; 
    
}
.btn2 {
    flex:1;
    cursor: pointer;
    background-color: rgb(38, 5, 204);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    color: rgb(255, 255, 255);
    /* border: 0; */
    
    font-size: 16px;
    margin: 10px 0 30px; 
        padding: 10px;
    
}
