<!DOCTYPE html>


<html lang="en">

<head>

<title> 
    Form
</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<script>
function togglenames(){
    names = document.getElementById("nameslist") 
    names.style.display = "block"
}
</script>


<div id= "nameslist" style="display: none;">
    {%for i in nameslist:%}
       {{i}}

    {%endfor%}

</div>


<body>


<button onclick="togglenames()" type="submit">
    Show all names
</button>




<div id= "namesection" style="display: none;">
    <h5>
        {{name}}
    </h5>

</div>

<div class="bar">    
<a href="/">
    <button class="btn">
        Home Page
    </button>
 </a>

 <a href="/about">
    <button class="btn2">
        About Page
    </button>
</a>

<a href="/form">
    <button class="btn3">
        Form Page
    </button>
</a>


</div>
    <h1>
        This is the form page
    </h1>
    <form method="POST">
        <label>
            Your Name:
        </label>
        <input name= "name">
        <button type="submit" name="action" value="save">
            Submit
        </button>  

        <button type="submit" name="action" value="clear">
            Clear Names
        </button>
    </form>

    

</body>






</html>