<!DOCTYPE html>


<html lang="en">

<head>


<title> 
    Home
</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="bar" >
    <a href="/">
        <button class="btn2">
            Home Page
        </button>
    </a>


    <a href="/about">
        <button class="btn2">
            About Page
        </button>
        
        
    <a href="/form">
        <button class="btn3">
            Form Page
        </button>
    </a>
    </div>

    <h1>
        This is the home page
    </h1>
    

</body>






</html>